@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WebScheduler</h1>
    <p class="lead">This website is provided as an easier method of assigning workers to different shifts.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please use the links provided in the above Navigation Bar to access Workers and Schedules.
        </p>
    </div>
</div>